@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My First MVC :)</h1>
    <p>A practice MVC made by Danya Eusmanaga using ASP.NET Core for the Northwind DB.</p>
</div>
